
<!-- Navbar (sit on top) -->
<div class="w3-top">

  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="" class="w3-bar-item w3-button"><b>DONALD</b>  DESIGNS </a>
    
      <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
    
      <!-- <a href="#projects" class="w3-bar-item w3-button">Home</a> -->
      <a href="#about" class="w3-bar-item w3-button">About Us</a>
      <a href="login" class="w3-bar-item w3-button">Sign Up</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact </a>
      <a href="cart" ><i class="fa fa-shopping-cart" style="font-size:24px;color:black "></i></a>
      <!-- <a href="login" class="w3-bar-item w3-button">Sign In</a> -->
    </div>
  </div>
</div>
